textarea {
    min-height: 400px;
}

.summary-item {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 10px 0px;
}

.read {
    background-color: lightgrey;
}

#email-view * {
    border-style: solid;
    border-width: 1px;
}